body {
    font-family: Arial, Helvetica, sans-serif;
  }
  main {
    width: 450px;
    margin: 0 auto;
    padding: 1em;
    background: white;
    border: 2px solid navy;
  }
  h1 {
    margin-top: 0;
    color: navy;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table th,
  table td {
    padding: 0.5em;
    text-align: left;
    border: 1px solid navy;
  }